Site-Barbearia-Jão/Back/reserva.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barbearia-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3240,
        0
      ],
      "id": "9df658bf-2112-46b7-9bd5-58643737b76a",
      "name": "Webhook WhatsApp",
      "webhookId": "5b5fb5a8-0c12-45f9-9dca-c4d57385ff48"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-not-from-me",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "check-message-type",
              "leftValue": "={{ $json.body.data.messageType }}",
              "rightValue": "extendedTextMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3040,
        0
      ],
      "id": "c1290ff2-beb7-49d8-9989-b8c4b236bab0",
      "name": "Filtrar Mensagens"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-phone",
              "name": "telefone",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "extract-message",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || '' }}",
              "type": "string"
            },
            {
              "id": "extract-timestamp",
              "name": "msg.Timestamp",
              "value": "={{ new Date($json.body.data.messageTimestamp * 1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "extract-message-id",
              "name": "messageId",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "extract-name",
              "name": "nomeContato",
              "value": "={{ $json.body.data.pushName || 'Cliente WhatsApp' }}",
              "type": "string"
            },
            {
              "id": "c1d9751d-3f2e-490b-83c2-1df6a12e3af4",
              "name": "id_msg",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2840,
        -220
      ],
      "id": "f5f5917e-6199-484b-8f8a-08cdd1fe3aeb",
      "name": "Extrair Dados"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "agendado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -820,
        -420
      ],
      "id": "17da041d-2609-4319-97ed-5a33d8339ac8",
      "name": "Verificar Agendamentos Existentes",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IPz9Aq6ZrsbXp4Hw",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o assistente virtual da **Barbearia do Jão** 💈\n\n**INFORMAÇÕES DA BARBEARIA:**\n\n📋 **SERVIÇOS E PREÇOS:**\n• Corte: R$ 30,00\n• Corte Máquina: R$ 25,00  \n• Barba: R$ 20,00\n• Pezinho: R$ 15,00\n• Sobrancelha: R$ 20,00\n• Relaxamento: R$ 20,00\n• Tintura: R$ 20,00\n• Luzes: R$ 50,00\n• Platinado: R$ 90,00\n• COMBO (Corte + Barba + Sobrancelha): R$ 65,00\n\n🕐 **HORÁRIOS:**\n• Terça a Quinta: 9h às 19h\n• Sexta: 8h às 19h  \n• Sábado: 8h às 17h\n• Domingo e Segunda: FECHADO\n\n**DADOS DO CLIENTE:**\n• Nome: {{ $('Extrair Dados').item.json.nomeContato }}\n• Telefone: {{ $('Extrair Dados').item.json.telefone }}\n• Mensagem: \"{{ $('Concatenação').item.json.List_msg }}\"\n• Agendamentos existentes: {{ $('Verificar Agendamentos Existentes').item.json.length || 0 }} agendamento(s)\n\n**AGENDAMENTOS ATUAIS DA BARBEARIA:**\n{{ JSON.stringify($('Verificar Agendamentos Existentes').item.json, null, 2) }}\n\n**Contexto do andamento da conversa\n{{ JSON.stringify($('GeraContexto').all()) }}\n**INSTRUÇÕES:**\n\n1. **IDENTIFICAR INTENÇÃO:**\n   - Informações (preços/horários): Responda diretamente\n   - Agendamento: Use a ferramenta \"Inserir Agendamento\"\n   - Cancelamento: PRIMEIRO use \"Consultar Agendamentos\", analise os dados, identifique o agendamento correto, depois use \"Cancelar Agendamento\"\n   - Consulta de agendamentos: Use \"Consultar Agendamentos\"\n\n2. **PARA AGENDAMENTOS:**\n   - Extraia: serviço, dia, horário\n   - Valide se está no horário de funcionamento\n   - Calcule duração: 30min (serviços simples) ou 90min (luzes/platinado/combo)\n   - Confirme com dados completos\n\n3. **PARA CANCELAMENTOS:**\n   - SEMPRE consulte os agendamentos primeiro\n   - Analise TODOS os agendamentos do cliente\n   - Compare com as informações fornecidas (data, horário, serviço)\n   - Identifique o agendamento correto pelo ID\n   - Use o ID correto para cancelar\n   - Confirme qual agendamento foi cancelado\n\n4. **RESPOSTA:**\n   - Seja amigável e profissional\n   - Use emojis apropriados\n   - Confirme sempre os detalhes\n   - Para cancelamentos, mencione especificamente qual agendamento foi cancelado\n   - Lembre-se que você está respondendo como se fosse o Jão, então tenha uma linguagem coloquial de um barbeiro normal.\n\n**Responda apenas o texto final para WhatsApp:**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -540,
        -420
      ],
      "id": "0017ab76-20ed-4c78-8506-7405b5599013",
      "name": "Assistente IA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wsapi.prstecnologia.com.br/message/sendText/xcopilot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "v7hAVxHFZrfhWanbj497Bek1"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Extrair Dados').item.json.telefone }}"
            },
            {
              "name": "delay",
              "value": "1200"
            },
            {
              "name": "presence",
              "value": "composing"
            },
            {
              "name": "linkPreview",
              "value": "false"
            },
            {
              "name": "textMessage[text]",
              "value": "={{ $('Assistente IA').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -420
      ],
      "id": "4f66ea2d-ea8f-4c28-be1a-c1ebf555dccd",
      "name": "Enviar WhatsApp"
    },
    {
      "parameters": {
        "tableId": "logs_atendimento",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Extrair Dados').item.json.telefone }}"
            },
            {
              "fieldId": "nome_contato",
              "fieldValue": "={{ $('Extrair Dados').item.json.nomeContato }}"
            },
            {
              "fieldId": "mensagem_recebida",
              "fieldValue": "={{ $('Extrair Dados').item.json.mensagem }}"
            },
            {
              "fieldId": "resposta_enviada",
              "fieldValue": "={{ $('Assistente IA').item.json.output }}"
            },
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $('Extrair Dados').item.json.timestamp }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        180,
        -420
      ],
      "id": "d773ed50-fa3b-4247-8aaa-264514bd899e",
      "name": "Log Interação",
      "credentials": {
        "supabaseApi": {
          "id": "IPz9Aq6ZrsbXp4Hw",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3040,
        200
      ],
      "id": "18e0b2ed-5e7a-4378-9728-b9f28cfcc541",
      "name": "Ignorar Mensagem"
    },
    {
      "parameters": {
        "tableId": "agendamentos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $fromAI('telefone') }}"
            },
            {
              "fieldId": "nome_cliente",
              "fieldValue": "={{ $fromAI('nome_cliente') }}"
            },
            {
              "fieldId": "servico",
              "fieldValue": "={{ $fromAI('servico') }}"
            },
            {
              "fieldId": "data_horario",
              "fieldValue": "={{ $fromAI('data_horario') }}"
            },
            {
              "fieldId": "horario_inicio",
              "fieldValue": "={{ $fromAI('horario_inicio') }}"
            },
            {
              "fieldId": "horario_fim",
              "fieldValue": "={{ $fromAI('horario_fim') }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ $fromAI('preco') }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "agendado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -280,
        -120
      ],
      "id": "8f562ec1-94f1-4fc6-b62e-19cb6b05420f",
      "name": "Inserir Agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "IPz9Aq6ZrsbXp4Hw",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $fromAI('telefone') }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "agendado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -160,
        -160
      ],
      "id": "fb26ab8b-96cb-4e04-9e56-8235a71aa4d5",
      "name": "Consultar Agendamentos",
      "credentials": {
        "supabaseApi": {
          "id": "IPz9Aq6ZrsbXp4Hw",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('agendamento_id') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelado"
            },
            {
              "fieldId": "cancelado_em",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -60,
        -220
      ],
      "id": "a59288fd-6583-44e8-a490-e7393078c0b9",
      "name": "Cancelar Agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "IPz9Aq6ZrsbXp4Hw",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "logs_atendimento",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1020,
        -420
      ],
      "id": "038630e0-260b-4119-8ad9-d07980509374",
      "name": "GeraContexto",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IPz9Aq6ZrsbXp4Hw",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -520,
        -200
      ],
      "id": "d4fcf35c-8b86-4564-bacb-95ffd45dc288",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ia9io5WMqek6g9AG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.telefone }}",
        "messageData": "={{ JSON.stringify($json.mensagem) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2580,
        -400
      ],
      "id": "4f236915-2e77-40d1-9203-c902944cb977",
      "name": "Enviar ",
      "credentials": {
        "redis": {
          "id": "yjZmmNCCU5FiTbny",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "List_array",
        "key": "={{ $('Extrair Dados').item.json.telefone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2360,
        -400
      ],
      "id": "e874eae0-df03-4f4e-a109-4d6db03dc03d",
      "name": "Buscar",
      "credentials": {
        "redis": {
          "id": "yjZmmNCCU5FiTbny",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.List_array.first()).id_msg }}",
                    "rightValue": "=={{ $('Extrair Dados').item.json.id_msg }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ee1d0f1b-e0ce-4276-863b-f396d9d89310"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nada a fazer "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8f8b22a-4a5d-4f02-853d-a112724bfcbf",
                    "leftValue": "={{ JSON.parse($json.List_array.last()).Timestamp }}",
                    "rightValue": "={{ $now.minus(15, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prossegir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar "
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2140,
        -400
      ],
      "id": "8448cd9c-eaf0-4816-b132-31c2eb6e256b",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1700,
        -620
      ],
      "id": "e05c4a9b-0762-415a-97c9-1abf4b8cb154",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1700,
        -240
      ],
      "id": "c5f4dde7-4b8a-4a34-a739-52bdfb32a1ef",
      "name": "Wait",
      "webhookId": "89c4dc0a-680f-4af5-87f7-e4cfd48fb20a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0375096d-575e-44e6-ac49-06b7ed39d1a3",
              "name": "List_msg",
              "value": "={{ $json.List_array.map(valor => JSON.parse(valor).msgtext).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1560,
        -400
      ],
      "id": "92ee5c9e-33d9-4ca9-80ad-1d188df80b1c",
      "name": "Concatenação"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Extrair Dados').item.json.telefone }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1700,
        -400
      ],
      "id": "2cdc7ad9-0b38-45be-a1a6-1b1790536e46",
      "name": "Delete1",
      "credentials": {
        "redis": {
          "id": "yjZmmNCCU5FiTbny",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Enviar ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Agendamentos Existentes": {
      "main": [
        [
          {
            "node": "Assistente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistente IA": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Log Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Agendamento": {
      "ai_tool": [
        [
          {
            "node": "Assistente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "Assistente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Agendamento": {
      "ai_tool": [
        [
          {
            "node": "Assistente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GeraContexto": {
      "main": [
        [
          {
            "node": "Verificar Agendamentos Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enviar ": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Buscar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenação": {
      "main": [
        [
          {
            "node": "GeraContexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete1": {
      "main": [
        [
          {
            "node": "Concatenação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b2fc26103662529f7258e75521ab1d6562ddd3c7e7c81d24c11f0173c23f0"
  }
}